@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Masonry layout styles */
.masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}

.masonry-grid-column {
  padding-left: 30px;
  background-clip: padding-box;
}

.masonry-grid-column > div {
  margin-bottom: 30px;
}
